h1{
  text-align: center;
}

@font-face {
  font-family: myFirstFont;
  src: url(sansation_light.woff);
}

* {
  font-family: myFirstFont;
}

#box{
  width: 400px;
  height: 454px;
  border: 2px solid black;
  margin-left: 350px; 
  margin-top: 10px;
}

input{
  width: 132px;
  height: 150px;
  float: left;
  font-size: 70px;
}

.btn-primary{
  margin-left: 450px;
  width: 200px;
  height: 50px;
  margin-top: 7px;
  font-family: myFirstFont;
}